@use "../scss/utility" as *;

section.about {
   margin-top: 8rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 100%;
}

.imageWrapper {
   width: 100%;
}

.imgWrapper > div {
   position: relative;
   display: inline-block;
   border-radius: 50%;
   background: #61C4B7;
   overflow: hidden;
   padding: 1.5em;

   img:nth-child(1) {
      width: 100%;
      position: relative;
      right: 1rem;
      top: 1.7rem;
      z-index: 2;
   }

   img:nth-child(2),
   img:nth-child(3) {
      position: absolute;
   }

   img:nth-child(2) {
      top: 9.5rem;
      left: 1.7rem;
      transform: scale(2);
      z-index: 1;
   }

   img:nth-child(3) {
      top: 15rem;
      right: 0;
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   align-self: center;
   gap: 2rem;

   h2 {
      text-wrap: balance;
   }

   p {
      color: var(--grey);
   }
}