@use "../scss/utility" as *;

section.about {
   margin-top: clamp(5.5rem, 5vw, 8rem);
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 100%;
}

.imgWrapper {
   width: 100%;
   padding-right: 3.9rem;
   position: relative;
}

.imgWrapper > div {
   position: relative;
   display: inline-block;
   border-radius: 50%;
   background: #61c4b7;
   overflow: hidden;
   padding: 1.5rem;

   img:nth-child(1) {
      width: 100%;
      position: relative;
      right: 1rem;
      top: 1.7rem;
      z-index: 2;
   }

   img:nth-child(2),
   img:nth-child(3) {
      position: absolute;
   }

   img:nth-child(2) {
      top: 9.5rem;
      left: 1.7rem;
      transform: scale(2);
      z-index: 1;
   }

   img:nth-child(3) {
      top: 15rem;
      right: 0;
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   align-self: center;
   gap: 2rem;

   h2 {
      text-wrap: balance;
   }

   p {
      color: var(--grey);
   }
}

@media screen and (max-width: 1028px) {
   .wrapper {
      h2 {
         text-wrap: pretty;
      }
   }

   .imgWrapper {
      padding: 0;

      div {
         right: 15%;

         img:nth-child(2) {
            top: 7.5rem;
         }
      }
   }
}

@media screen and (max-width: 900px) {
   .wrapper {
      gap: 1.3rem;
   }
}

@media screen and (max-width: 800px) {
   .imgWrapper > div {
      width: 20rem;
      position: absolute;
   }
}

@media screen and (max-width: 600px) {
   .imgWrapper {
      @include flex;
   }

   .imgWrapper > div {
      position: relative;
      right: 0%;
      transform: scale(0.9);
   }

   section.about {
      grid-template-columns: repeat(1, 1fr);
      gap: 2.22rem;
   }

   .wrapper {
      gap: 1.33rem;
      justify-content: center;
      align-items: center;

      p,
      h2 {
         @include text-center;
      }
   }
}