@use "../scss/utility" as *;

.arrow {
   @include flex;
   width: 3.55rem;
   height: 3.55rem;
   text-align: center;
   border-radius: 100%;
   transition: all 0.3s ease;
   background-color: var(--black);

   &[data-direction="right"] {
      transform: scaleX(-1);
   }

   &[data-direction="right"]:hover {
      transform: scaleX(-1) scale(1.1);
      background-color: var(--purple);
   }

   &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background-color: var(--purple);
   }

   &:active {
      transform: scale(0.9);
   }
}