.btn {
   display: block;
   align-content: center;
   width: 228px;
   height: 56px;
   text-align: center;
   color: var(--white);
   border-radius: 28px;
   transition: all 0.3s ease;
}

.btn:hover {
   cursor: pointer;
   transform: scale(1.025);
}

.primary {
   background-color: var(--black);
}

.primary:hover {
   background-color: var(--purple);
}

.secondary {
   background-color: var(--tomato);
}

.secondary:hover {
   background-color: var(--light-orange);
}