@use "../scss/utility" as *;

.btn {
   @include center;
   @include text-center;
   color: var(--white);
   width: 228px;
   height: 56px;
   border-radius: var(--border-radius);
   transition: all 0.3s ease;

   &:hover {
      cursor: pointer;
      transform: scale(1.025);
   }
}

.primary {
   background-color: var(--black);

   &:hover {
      background-color: var(--purple);
   }
}

.secondary {
   background-color: var(--tomato);

   &:hover {
      background-color: var(--light-orange);
   }
}