@use "../scss/utility" as *;

.arrows {
   display: flex;
   gap: 1.5rem;
}

.container {
   @include flex;
   width: 100%;
   position: relative;
}

.slider {
   display: flex;
   right: 10rem;
   overflow: hidden;

   img {
      transition: translate 0.3s ease;
      padding: 0 0.8rem;
      border-radius: 20px;
   }
}

@media screen and (max-width: 600px) {
   .slider > img {
      width: 20rem;
   }
}