.main {
   width: clamp(375px, 100%, 1200px);
   margin: 0 auto;
   padding: 3.5rem 0;

   @media screen and (max-width: 900px) {
      padding: 3rem 0;
   }

   @media screen and (max-width: 600px) {
      padding: 1.44rem 0;
   }

   nav,
   section {
      padding: 0 2.15rem;

      @media screen and (max-width: 600px) {
         padding: 0 0.89rem;
      }
   }
}
