.main {
   width: clamp(375px, 100%, 1200px);
   margin: 0 auto;
   padding-bottom:  3.5rem;

   @media screen and (max-width: 900px) {
      padding-bottom:  3rem;
   }

   @media screen and (max-width: 500px) {
      padding: 0.9rem;
      padding-bottom:  1.9rem;
   }

   nav, section {
      padding: 0 2.15rem;
   }
}
