@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
   /* colors */
   --purple: hsl(252, 66%, 62%);
   --pink: hsl(0, 78%, 79%);
   --light-orange: hsl(28, 89%, 67%);
   --tomato: hsl(7, 77%, 66%);
   --blue-green: hsl(172, 46%, 57%);
   --violet: hsl(314, 45%, 23%);
   --black: hsl(0, 0%, 1%);
   --grey: hsl(30, 5%, 45%);
   --white: hsl(28, 100%, 97%);

   /* typography */
   --font-family: "Plus Jakarta Sans", serif;
   --font-size: 18px;
   --border-radius: 28px;

   /* button */
   --btn-1-idle: var(--black);
   --btn-1-hover: var(--tomato);
   --btn-2: var(--purple);
   --btn-2-hover: var(--light-orange);

   font-family: var(--font-family);
   font-size: var(--font-size);
}

* {
   margin: 0;
   padding: 0;
   // outline: 1px red solid;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   background: var(--white);
}

// Button style reset
button {
   background: none;
   border: none;
   padding: 0;
   margin: 0;
   font: inherit;
   color: inherit;
   line-height: normal;
   text-align: inherit;
   appearance: none;
   display: inline-block;
   cursor: pointer;
}

h1,
h2,
h3 {
   font-weight: 700;
}

h1 {
   font-size: 3.11111rem;
   line-height: 70px;
}

h2 {
   font-size: 2.22222rem;
   line-height: normal;
}

h3 {
   font-size: 1.77778rem;
   line-height: normal;
}

p {
   line-height: 1.75rem;
}

// SCREEN SIZE 
// Tablet
@media (max-width: 1024px) {
   body {
       padding-left: 12px;
       padding-right: 12px;
   }
}

// Mobile 
@media (max-width: 768px) {
   body {
       padding-left: 8px;
       padding-right: 8px;
   }
}

