.btn {
   display: block;
   align-content: center;
   width: 228px;
   height: 56px;
   background-color: var(--black);
   text-align: center;
   color: var(--white);
   border-radius: 28px;
   transition: all 0.3s ease;
}

.btn:hover {
   background-color: var(--purple);
   cursor: pointer;
   transform: scale(1.025);
}

.btn2:hov {
   background-color: var(--tomato) !important;
}