@mixin center($justify: center, $align: center) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
}

@mixin text-center($position: center) {
   text-align: $position;
}

@mixin debug {
   * {
      outline: 1px solid red;
   }
}
